<form class="" action="/messages" method="post">
  <textarea type="textarea" name="content" placeholder="Message"></textarea><br><br>
  <label>Country Code (1 for USA, no "+")</label><br>
  <input type="text" name="countrycode" placeholder="Country Code (1 for USA)"><br><br>
  <label>Phone Number (numbers only)</label><br>
  <input type="text" name="phone" placeholder="Phone Number (only numbers)"><br><br>
  <label>Email</label><br>
  <input type="text" name="email" placeholder="Email"><br><br>
  <button type="submit" name="button">Submit</button>
</form>
