<form class="" action="/message" method="post">
  <label>Message</label>
  <textarea type="textarea" name="content"></textarea><br>
  <label>Country Code</label>
  <input type="text" name="countrycode"><br>
  <label>Phone Number</label>
  <input type="text" name="phone"><br>
  <label>Email</label>
  <input type="text" name="email"><br>
  <button type="submit" name="button">Submit</button>
</form>
